# Python Django
*.pyc
heimdall_app/migrations/0*
heimdall/settings/local.py
static/*
media/*


# Logs
*.log
*.log.*


# Databases
db.sqlite3


#Web App
web/.tmp/
web/coverage/
web/dist/
web/node_modules/
web/jspm_packages/
web/bower_components/
